body {
    background-color: lightgreen;
}


.chat_box {
    background-color: rgb(113, 17, 204);
    box-shadow: 5px 10px 20px rgb(20, 32, 20);
    width: 1100px;
    height: 600px;
    margin: auto;
    border-radius: 30px;
}

.chat_header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color:rgb(113, 17, 204);
    color: white;
    margin: 0;
    border-radius: 30px 30px 0px 0px;
}

.div_middle {
    background-color: lightsteelblue;
    display: flex;
    /* display:inline; */
    height: 425px;
    margin: 0px;
    justify-content: space-between;
}

.msg_box {
    background-color: rgb(113, 17, 204);
    height: 75px;
    border-radius: 0px 0px 30px 30px;
}

.side_section {
    background-color: #b4aa37;
    color: white;
    width: 20%;
}

.chat_messages_div {
    background-color: #ffd92e7c; 
    width: 80%;

}

.Cinput{
    font-size: large;
    width: 80%;
    height: 50px;
    border-radius: 5px;
}
.btn{
    color: rgb(113, 17, 204);
    background-color: white;
    font-size: large;
    width: 10%;
    margin-left: 15px;
    height:55px;
    border-radius: 7px;
box-shadow: 2px 4px 2px rgba(20, 32, 20, 0.377);
}
.msg_form{
margin: 15px;
display: flex;
justify-content: center;
align-items: center;
}
.team_div{
   /* background-color: orangered; */
   margin-top: 0px;
   text-align: center;
}
.users_div{
  /* background-color: orchid; */
  text-align: center;
}
.your_team{
  background-color: #66601f;
  margin: 0 5px 0px 5px;
}

.leave_btn{
  text-decoration: none;
margin-right: 20px;
padding: 5px;
font-size: 20px;
background-color: white;
border-radius: 4px;
box-shadow: 2px 4px 2px rgba(20, 32, 20, 0.377);
}
.header_h1{
margin-left: 20px;
font-size: 45px;
}

.chat_messages {

    max-height: 425px;
    /* background-color: white; */
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.message {

    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    max-width: 400px;
    background-color: yellow;
    
    overflow-wrap: break-word;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(37, 9, 65);
    /* color: var(--dark-color-b); */
    opacity: 0.7;
    margin-bottom: 7px;
}
.sysMsg{
    margin-left: auto;
    margin-right: auto;
    color: rgb(36, 34, 34);
    font-size: 15px;
 }
.meta{
    color: rgb(36, 34, 34);
    font-size: 15px;
    margin-bottom: -20px;
}
.self{
    margin-left: auto;
}
ul{
    /* display: flex;
    justify-content: left;
    list-style-type: none; */
    display: flex;
list-style-type: none;
flex-direction: column;
align-items: flex-start;
}
li{
    padding-bottom: 5px;
}
